<nav class="tabs is-centered">
  <ul>
    <li><a [routerLinkActiveOptions]="{exact: true}" class="item" routerLink="" routerLinkActive="is-active">Home</a>
    </li>
    <li><a routerLink="/posts" routerLinkActive="is-active">Posts</a></li>
    <li><a routerLink="/login" routerLinkActive="is-active">Login</a></li>
    <li><a routerLink="/registration" routerLinkActive="is-active">Registration</a></li>
    <li><a routerLink="/todo" routerLinkActive="is-active">Todo</a></li>
    <li><a routerLink="/layout" routerLinkActive="is-active">Layout</a></li>
    <li><a routerLink="/table" routerLinkActive="is-active">Table</a></li>
  </ul>
</nav>




