<div class="box">
  <button (click)="sortingAZ()" class="button is-success">A-Z</button>
  <button (click)="sortingZA()" class="button is-warning">Z-A</button>

  <ul *ngIf="todos?.length && !sortAZ && !sortZA">
    <li *ngFor="let todo of todos">
      {{ todo.title }}
    </li>
  </ul>

  <ul *ngIf="sortAZ && !sortZA">
    <li *ngFor="let todo of todos | orderBy: order">
      {{ todo.title }}
    </li>
  </ul>

  <ul *ngIf="sortZA && !sortAZ">
    <li *ngFor="let todo of todos | orderBy: order : true">
      {{ todo.title }}
    </li>
  </ul>

</div>
